.container {
    height: 100%;
    width: 100%;
}

.small {
    width: 80%;
}

.tool {
    background-color: brown;
}

// #text {
//     color: white;
// }
#text {
    margin-left: 10px;
    //margin-top: -5px;
    color: white;
    margin-top: -2px;
}

.img-Icon {
    padding-left: 64%;
    padding-right: 6%;
    padding-top: 3%;
}

.search {
    margin-left: 3%;
    width: 44%;
    height: 54%;
    padding: 0px;
}

.searchInput {
    height: 50%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: dimgrey;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 0px;
    display: contents;
    color: gray;
}

.Profile {
    display: flex;
    flex-direction: column-reverse;
    background: brown;
    border-color: brown;
    color: white;
    border: transparent;
    margin-right: -8%;
    cursor: pointer;
}

// .cart {
//     display: flex;
//     flex-direction: column-reverse;
//     background: brown;
//     border-color: brown;
//     color: white;
//     border: transparent;
//     margin-right: 8%;
//     margin-top: 3px;
//     cursor: pointer;
// }
.cart {
    padding-bottom: 20px;
    padding-left: 12%;
    padding-right: 9%;
    margin-top: 40px;
    color: white;
    font-size: 15px;
}

// }
.wishlistIcon {
    color: brown;
}

.wishlistbutton {
    margin-top: 1px;
}

.welcome {
    margin-left: 40px;
}

.loginbutton {
    height: 50%;
    width: 65%;
    margin-left: 27px;
    border-color: brown;
    color: brown;
    cursor: pointer;
    background: white;
}

// @media only screen and (min-device-width: 300px) and (max-device-width: 851px) and (-webkit-min-device-pixel-ratio: 1) {
@media (max-width: 400px) {
    .Profile {
        margin-right: -1%;
        margin-top: -6px;
    }
    .container {
        height: 120%;
        width: 195%;
    }
    #text {
        visibility: hidden;
    }
    .search {
        margin-left: 6%;
        width: 48%;
        height: 54%;
        padding: 0px;
    }
    .cart {
        padding-bottom: 20px;
        padding-left: 7%;
        padding-right: 1%;
        margin-top: 22px;
        color: white;
        font-size: 10px;
    }
}