<table class="css-serial" style="border: 1px solid;margin-left:auto;margin-right:auto;margin-top: 50px;" BORDER="7" WIDTH="70%" CELLPADDING="18" CELLSPACING="0">
    <thead>
        <tr style="border: 1px solid #DCDCDC;background-color: gainsboro">
            <th>Sr.No</th>
            <th>BookImage</th>
            <th>Author</th>
            <th>BookName</th>
            <th>description</th>
            <th>discountPrice</th>
            <th>price</th>
            <th>quantity</th>

        </tr>
    </thead>
    <tbody>
        <tr style="text-align: center;">

            <td></td>
            <td><img src="../../../assets/book1.png" width="50px" height="50px" alt=""></td>
            <td>ooo</td>
            <td>kkk</td>
            <td>ppp</td>
            <td>Rs.555</td>
            <td>Rs.3333</td>
            <td>5</td>

    </tbody>
</table>