table,
th,
td {
    border: 1px solid black;
}

.continuebutton {
    background-color: blue;
    color: white;
    border: none;
    margin-top: 40px;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-content: center;
}